<form [formGroup]="signInForm" (ngSubmit)="onSubmitted()">
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="text" name="username" placeholder="Username" formControlName="username" required>
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="password" placeholder="Password" name="password" formControlName="password" required>
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-checkbox>Remember Me</mat-checkbox>
    <span fxFlex></span> <a [routerLink]="['/session/forgot-password']">Forgot Password?</a>
  </div>
  <button color="accent" type="submit" class="button-lg mb-3" mat-raised-button>Sign In</button>
  <p>Don't have an account? <a [routerLink]="['/session/signup']">Click here to create one</a></p>
</form>
